[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.28"
dacite = "~=1.8"
pyfunctional = "~=1.4"
typed-argument-parser = "~=1.7"
tqdm = "~=4.64"

[dev-packages]
parameterized = "~=0.8"

[requires]
python_version = "3.11"
