[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
dacite = "*"
pyfunctional = "~=1.4"
parameterized = "*"
typed-argument-parser = "~=1.7"
tqdm = "~=4.64"

[dev-packages]

[requires]
python_version = "3.11"
